#contact {
    padding: 50px;
  }
  
  #contact h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  #contact p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  