@font-face {
    font-family: 'Valkyrie A';
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url("./assets/fonts/valkyrie-a/valkyrie_a_caps_regular.woff2") format("woff2");
}

body {
    font-family: 'Valkyrie A', sans-serif;
}


.popup {
    position: fixed;
    top: 10px;
    background-color: #DED79C50;
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
}


h1 span, h2 span, h3 span, p span, li span a {
    background-color: white;
    transition: background-color 0.5s ease;
}

h1 span:hover, h2 span:hover, h3 span:hover, p span:hover, li span a:hover {
    background: #ffb6c150 ; 
    transition: background-color 0.5s ease;
}

body {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

